:root {
    font-size: 20px;
    --main-color: lightblue;
    --second-color: darkslateblue;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid var(--main-color);
    padding: 10px;
    border-radius: 15px;
    height: 500px;
}

#display {
    color: white;
    background-color: var(--second-color);
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    width: 89%;
    height: 10%;
    margin: 10px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 30px;
}

#buttonsContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 8;
}

#numbersContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 15px;
}

.number-button {
    width: 1/3;
}

#operationsContainer { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 15px;
}

.btn {
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    font-size: 20px;
}
  
.btn:hover {
    color: white;
    background-color: var(--second-color);
}